<h1>New user</h1>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %><br>
    <%= form.label :email %><br>
    <%= form.email_field :email %><br>
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
 <%# Use :password and password_field %>
    <%= form.label :college %><br>
    <%= form.text_field :college %><br>
  </div>
  <div>
    <%= form.submit "Create Account" %>
  </div>
<% end %>
